Source: qml-module-edupals-n4d
Section: libs
Priority: optional
Maintainer: Enrique Medina Gremaldos <quique@necos.es>
Build-Depends: debhelper-compat (=13), cmake, qt6-base-dev, qt6-declarative-dev, libedupals-base-dev, libedupals-n4d-dev
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/edupals

Package: qml6-module-edupals-n4d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: n4d module for qml
 This plugin allows calling n4d rpc methods from qml
