Source: qml-module-edupals-n4d
Section: utils
Priority: optional
Maintainer: Enrique Medina Gremaldos <quiqueiii@gmail.com>
Build-Depends: debhelper (>=9), cmake, extra-cmake-modules, qtbase5-dev, qtdeclarative5-dev, libkf5coreaddons-dev, libedupals-base-dev, libedupals-n4d-dev
Standards-Version: 3.9.7
Homepage: http://lliurex.net

Package: qml-module-edupals-n4d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: n4d module for qml
 This plugin allows calling n4d rpc methods from qml
